.link-url{
    color: #cbd5e0;
    font: italic 400 12px system-ui;
    line-height: 1.7;
}

.link-title{
    color: #7b848d;
    text-decoration: none;
    font: 400 12px system-ui;
    line-height: 1.7;
}